text/
build/
generated/fonts/
generated/gui_generated/
generated/images/
generated/texts/
*.log
*.o
*.ipch

RECOVER/simulator/msvs/.vs/
RECOVER/screenshots/

Autoflash/bin/
Autoflash/obj/

BCTestStrap/bin/
BCTestStrap/obj/

LFTFileCreator/bin/
LFTFileCreator/obj/

LogInspector/bin/
LogInspector/obj/

RECOVER_Companion/RecoverCompanionApplication/bin/
RECOVER_Companion/RecoverCompanionApplication/obj/

RecoverControl/bin/
RecoverControl/obj/

RECOVER_Companion/Installer/Output/

packages/


PressureCurveLinearizing/bin/
PressureCurveLinearizing/obj/