
*.log
*.o
*.ipch

.vs/

RECOVER/simulator/msvs/.vs/
RECOVER/screenshots/
RECOVER/build/
RECOVER/generated/
RECOVER/touchgfx_backup*/

Autoflash/bin/
Autoflash/obj/

BCTestStrap/bin/
BCTestStrap/obj/

LFTFileCreator/bin/
LFTFileCreator/obj/

LogInspector/bin/
LogInspector/obj/

RECOVER_Companion/RecoverCompanionApplication/bin/
RECOVER_Companion/RecoverCompanionApplication/obj/

RecoverControl/bin/
RecoverControl/obj/


RECOVER_Companion/Installer/RecoverCompanion-cache/
RECOVER_Companion/Installer/Output/

RecoverControl.Tests/bin/
RecoverControl.Tests/obj/

RecoverCompanionApplication.Tests/bin/
RecoverCompanionApplication.Tests/obj/

packages/
.vs/

.vs/

PressureCurveLinearizing/bin/
PressureCurveLinearizing/obj/

UserDecode/bin/
UserDecode/obj/
RECOVER/simulator/msvs/screenshots/
